@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  min-height: 100%;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("Images/Campsite.jpeg");

  /* Full height */
  height: 50%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}